.radius {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: aqua;
}

.align {
  padding: 65px;
}

p {
  display: none;
}

.highlight {
  background: yellow;
}

.show-text{
  display: block;
}

.bg-color {
  background-color: red;
}

.fade {
  opacity: unset !important;
}

.modal {
  top: 150px !important;
  
}

.modal-dialog {
  margin-top: 130px !important;
}