html {
  padding: 2rem 2rem;
}

.radius {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: aqua;
}

.align {
  padding: 65px;
}

.show-text{
  display: block;
}

.bg-color {
  background-color: rgba(224, 121, 121, 0.363);
}

.fade {
  opacity: unset !important;
}

.modal {
  top: 150px !important;
  
}

.modal-dialog {
  margin-top: 130px !important;
}

.modal-backdrop {
  background-color: #0006 !important;
}

.d-block {
  display: block !important;
}